.contact__form {
  display: flex;
  flex-direction: column;
}

.contact__label {
  color: #ecbca3;
  padding: 20px 0 2px 0;
}
.contact__input {
  padding: 0;
  margin: 0;
  outline-color: #ecbca3;
  height: 40px;
  width: 500px;
  border: none;
  background-color: #f9f8f6;
}

.contact__textArea {
  background-color: #f9f8f6;
  outline-color: #ecbca3;
  border: solid #ecbca3 2px;
  height: 40px;
}

.contact__submit {
  border: none;
  border-radius: 100px;
  background: none;
  height: 40px;
  margin: 30px 0 0 0;
  padding: 0;
  cursor: pointer;
  background-color: #ecbca3;
  color: #f9f8f6;
}

.contact__logo {
  height: 40px;
  width: 40px;
}

.c {
  display: flex;

  justify-content: center;
  padding: 100px 0 0 0;
  background: #f9f8f6;
}

.c__logo-holder {
  display: flex;
  gap: 10px;
  padding: 10px 0 0 0;
}
