.main {
  display: flex;
  flex-direction: column;
  background: #f9f8f6;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.main__container {
  display: flex;
}

.main__face {
  height: 350px;
  width: 350px;
  border-radius: 500px;
  position: absolute;
  left: 0;
  cursor: pointer;
}

.main__one {
  margin: 0;
  color: #ecbca3;
}

.main__two {
  margin: 0;
  color: #ecbca3;
}

.main__card_container {
  height: 350px;
  width: 350px;
  position: relative;
}

.main__card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease-in;
  position: absolute;
  cursor: pointer;
}

.main__card:hover {
  transform: rotateY(180deg);
}

.main__card_front {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: yellow;
  color: gray;
  position: absolute;
  border-radius: 500px;
}

.main__card_back {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: #f9f8f6;
  color: gray;
  transform: rotateY(180deg);
  position: absolute;
  border-radius: 500px;
}

.main__card_back-text {
  position: absolute;
  color: #ecbca3;
  margin: 0;
  width: 350px;
  z-index: 1;
  top: 100px;
  left: 100px;
}

.main__icons {
  display: flex;
  gap: 10px;
  padding: 10px 0 0 0;
}

.main__icon {
  width: 40px;
  height: 40px;
}
/* 
background: #8296df; */
